.slide-left {
    opacity: 0;
    animation-name: fade-n-slide-left;
    animation-duration: .4s;
    animation-timing-function: cubic-bezier(0.99, 0.01, 0.03, 0.76);
    animation-fill-mode: forwards;
}

.slide-up {
    opacity: 0;
    animation-name: fade-n-slide-up;
    animation-duration: .4s;
    animation-timing-function: cubic-bezier(0.99, 0.01, 0.03, 0.76);
    animation-fill-mode: forwards;
}
.slide-up-down {
    opacity: 0;
    animation-name: fade-n-slide-up-down;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.99, 0.01, 0.03, 0.76);
    animation-fill-mode: forwards;
}

.dismiss {
    animation-name: slide-down;
    animation-duration: .4s;
    animation-timing-function: cubic-bezier(0.99, 0.01, 0.03, 0.76);
    animation-fill-mode: forwards;
}

.slide-down {
    opacity: 0;
    animation-name: fade-n-slide-down;
    animation-duration: .4s;
    animation-timing-function: cubic-bezier(0.99, 0.01, 0.03, 0.76);
    animation-fill-mode: forwards;
}

.slide-right {
    opacity: 0;
    animation-name: fade-n-slide-right;
    animation-duration: .4s;
    animation-timing-function: cubic-bezier(0.99, 0.01, 0.03, 0.76);
    animation-fill-mode: forwards;
}

.flash {
    opacity: 0;
    animation-name: flash;
    animation-duration: .8s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

.popout {
    transform: scale(0);
    animation-name: popout-n-popin;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: forwards;
}


@keyframes fadein-n-out {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    10% {
        opacity: 1;
        transform: translateY(0);
    }

    95% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(30px);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-reverse {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes slide-up {
    0% {
        transform: translateX(-50%) translateY(10px);
    }

    100% {
        transform: translateX(-50%) translateY(-50%);
    }
}

@keyframes fade-n-slide-left {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-n-slide-up {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fade-n-slide-up-down {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    20% {
        opacity: 1;
        transform: translateY(0);
    }
    90% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(10px);
    }
}

@keyframes fade-n-slide-down {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-n-slide-right {
    0% {
        opacity: 0;
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeout {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: .2;
    }

    100% {
        opacity: 1;
    }
}

@keyframes swing {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(50%);
    }
}

@keyframes popout {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes popout-n-popin {
    0% {
        transform: scale(0) translateY(10px);
    }

    5% {
        transform: scale(1) translateY(0);
    }

    95% {
        transform: scale(1) translateY(0);
    }

    100% {
        transform: scale(0) translateY(10px);
    }
}

@keyframes sliding {
    0% {
        transform: translateY(-50%) translateX(-100%);
    }

    100% {
        transform: translateY(-50%) translateX(150%);
    }
}
@keyframes slide-down {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(50%);
        opacity: 0;
    }
}

/* .loader {
    position: relative;
    width:  48px;
    height: 48px;
    background: var(--c1);
    transform: rotateX(65deg) rotate(45deg);
    color: var(--dim-gray);
    animation: layers1 .5s linear infinite alternate;
  }
  .loader:after {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--dim-gray);
    opacity: .7;
    animation: layerTr .5s linear infinite alternate;
  }

  @keyframes layers1 {
    0% { box-shadow: 0px 0px 0 0px  }
   90% , 100% { box-shadow: 20px 20px 0 -4px  }
  }
  @keyframes layerTr {
    0% { transform:  translate(0, 0) scale(1) }
    100% {  transform: translate(-25px, -25px) scale(1) }
  }
       */
.loader {
    width: 48px;
    height: 48px;
    margin: auto;
    position: relative;
}

.loader:before {
    content: '';
    width: 48px;
    height: 5px;
    background: #000;
    opacity: 0.25;
    position: absolute;
    top: 60px;
    left: 0;
    border-radius: 50%;
    animation: shadow 0.5s linear infinite;
}

.loader:after {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--c1);
    opacity: .6;
    animation: bxSpin 0.5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
}


.purple-pulse {
	background: rgba(142, 68, 173, .3);
	box-shadow: 0 0 0 0 rgba(142, 68, 173, 1);
	animation: pulse-purple 2s infinite;
}

.pulse-orange {
	background: rgba(255, 122, 33, .3);
	box-shadow: 0 0 0 0 rgba(255, 122, 33, 1);
	animation: pulse-orange 2s infinite;
}

@keyframes bxSpin {
    17% {
        border-bottom-right-radius: 3px;
    }

    25% {
        transform: translateY(9px) rotate(22.5deg);
    }

    50% {
        transform: translateY(18px) scale(1, .9) rotate(45deg);
        border-bottom-right-radius: 40px;
    }

    75% {
        transform: translateY(9px) rotate(67.5deg);
    }

    100% {
        transform: translateY(0) rotate(90deg);
    }
}

@keyframes shadow {
    0%, 100% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1);
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    20% {
        -webkit-transform: scaleY(0.95) scaleX(1.05);
        transform: scaleY(0.95) scaleX(1.05);
    }

    48% {
        -webkit-transform: scaleY(1.1) scaleX(0.9);
        transform: scaleY(1.1) scaleX(0.9);
    }

    68% {
        -webkit-transform: scaleY(0.98) scaleX(1.02);
        transform: scaleY(0.98) scaleX(1.02);
    }

    80% {
        -webkit-transform: scaleY(1.02) scaleX(0.98);
        transform: scaleY(1.02) scaleX(0.98);
    }

    97%, 100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


@keyframes pulse-purple {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(142, 68, 173, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(142, 68, 173, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(142, 68, 173, 0);
	}
}

@keyframes pulse-orange {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 122, 33, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 122, 33, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 122, 33, 0);
	}
}

@keyframes wiggle {
    0% {
      transform: rotate(0deg) scale(1);
    }
    10% {
      transform: rotate(-2deg) scale(1.5);
    }
    20% {
      transform: rotate(0deg) scale(1);
    }
    30% {
      transform: rotate(2deg) scale(1.5);
    }
    40% {
      transform: rotate(0deg) scale(1);
    }
    100% {
      transform: rotate(0deg) scale(1);
    }
  }
  
  .wiggle {
    display: inline-block;
    animation: wiggle 3s infinite;
  }
  
  .arrows-animated {
    position: absolute;
    height: 100%;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    transform: rotate(-90deg);
    cursor: pointer;
}

.arrows-animated span {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-bottom: 5px solid var(--black);
    border-right: 5px solid var(--black);
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrows-animated span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrows-animated span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

