.arrow,
.bold,
.bounties,
.code,
.curation,
.discord-logo,
.edit,
.facebook-logo,
.filter,
.home,
.image,
.instagram-logo,
.italic,
.link,
.metamask-logo,
.podcast,
.posts,
.quote,
.search,
.setting,
.stories,
.title,
.trash,
.twitter-logo,
.video,
.env,
.warning,
.info-flag,
.success,
.weechat-logo,
.arrow-24,
.bold-24,
.bounties-24,
.code-24,
.curation-24,
.discord-logo-24,
.edit-24,
.facebook-logo-24,
.filter-24,
.home-24,
.image-24,
.instagram-logo-24,
.italic-24,
.plain,
.plain-24,
.link-24,
.metamask-logo-24,
.podcast-24,
.posts-24,
.quote-24,
.search-24,
.setting-24,
.stories-24,
.title-24,
.trash-24,
.twitter-logo-24,
.video-24,
.admin,
.admin-24,
.views,
.views-24,
.polls,
.polls-24,
.categories,
.categories-24,
.comment-icon,
.comment-24,
.like,
.like-24,
.like-bold,
.like-bold-24,
.send,
.send-24,
.cancel,
.cancel-24,
.env-24,
.logout,
.logout-24,
.weechat-logo-24,
.warning-24,
.info-flag-24,
.success-24,
.golden-medal,
.silver-medal,
.bronze-medal,
.copy-24,
.copy .switch-arrows,
.switch-arrows-24,
.user,
.user-24,
.server-24,
.server,
.key-icon-24,
.key-icon,
.menu-24,
.menu,
.lightning,
.lightning-24,
.arrow-up,
.arrow-up-bold,
.bolt-24,
.bolt,
.checkmark,
.checkmark-24,
.flag,
.upload-file,
.upload-file-24,
.bookmark,
.bookmark-24,
.bookmark-b,
.bookmark-24-b,
.bookmark-i,
.bookmark-i-24,
.bookmark-i-b,
.bookmark-i-24-b,
.report,
.report-24,
.fb-icon,
.fb-icon-24,
.whatsapp-icon,
.whatsapp-icon-24,
.in-icon,
.in-icon-24,
.share-icon,
.share-icon-24,
.share-icon-2,
.share-icon-2-24,
.add-curation,
.add-curation-24,
.nip05,
.nip05-24,
.content-s,
.content-s-24,
.news,
.news-24,
.mobile,
.mobile-24,
.play-b,
.play-b-24,
.globe,
.globe-24,
.calendar,
.calendar-24,
.note,
.note-24,
.cup,
.cup-24,
.thumbsup,
.thumbsup-24,
.thumbsdown,
.thumbsdown-24,
.msg-bubbles,
.msg-bubbles-24,
.medal,
.medal-24,
.add-note,
.add-note-24,
.checkmark-c1,
.checkmark-c1-24,
.telegram-logo,
.telegram-logo-24,
.msg-icon,
.msg-icon-24,
.nostr-icon,
.nostr-icon-24,
.ringbell,
.ringbell-24,
.protected,
.protected-24,
.unprotected,
.unprotected-24,
.buzz,
.buzz-24,
.folder,
.folder-24,
.write,
.write-24,
.play,
.play-24,
.play-vid,
.play-vid-58,
.download-file,
.download-file-24,
.connect,
.connect-24,
.ai-loader,
.infinity,
.infinity-24,
.env-edit-24,
.env-edit,
.quote,
.quote-24,
.heart,
.heart-24,
.heart-bold,
.heart-bold-24,
.switch-arrows-bold,
.switch-arrows-bold-24,
.quote-bold,
.quote-bold-24,
.note-2,
.note-2-24,
.hashtag,
.hashtag-24,
.media,
.media-24,
.plus-sign,
.plus-sign-24,
.note-plus,
.note-plus-24,
.play-plus,
.play-plus-24,
.curation-plus,
.curation-plus-24,
.news-plus,
.news-plus-24,
.posts-plus,
.posts-plus-24,
.sats,
.sats-24,
.eye-opened,
.eye-opened-24,
.eye-closed,
.eye-closed-24,
.buzz-bold,
.buzz-bold-24,
.curation-bold,
.curation-bold-24,
.env-bold,
.env-bold-24,
.folder-bold,
.folder-bold-24,
.home-bold,
.home-bold-24,
.media-bold,
.media-bold-24,
.news-bold,
.news-bold-24,
.note-2-bold,
.note-2-bold-24,
.note-bold,
.note-bold-24,
.play-bold,
.play-bold-24,
.posts-bold,
.posts-bold-24,
.bookmark-i-bold,
.bookmark-i-bold-24,
.alby-logo,
.alby-logo-24,
.nwc-logo,
.nwc-logo-24,
.comment-not,
.comment-not-24,
.user-followed-w,
.user-followed-w-24,
.user-followed,
.user-followed-24,
.user-to-follow,
.user-to-follow-24,
.user-to-unfollow,
.user-to-unfollow-24,
.share-v2,
.share-v2-24,
.plus-sign-w,
.plus-sign-w-24,
.trending-up,
.trending-up-24,
.timeline,
.timeline-24,
.followings,
.followings-24,
.wallet,
.wallet-24,
.webln-logo,
.webln-logo-24,
.mute,
.mute-24,
.unmute,
.unmute-24,
.qrcode,
.qrcode-24,
.wallet-add,
.wallet-add-24,
.smart-widget-add,
.smart-widget-add-24,
.text,
.text-24,
.button,
.button-24,
.container-one,
.container-one-24,
.container-one-one,
.container-one-one-24,
.container-one-two,
.container-one-two-24,
.container-two-one,
.container-two-one-24,
.youtube-logo,
.youtube-logo-24,
.telegram-b-logo,
.telegram-b-logo-24,
.twitter-w-logo, .twitter-w-logo-24,
.frames,
.frames-24,
.smart-widget,
.smart-widget-24,
.smart-widget-bold,
.smart-widget-bold-24,
.layout,
.layout-24,
.clone,
.clone-24,
.checkmark-tt,
.checkmark-tt-24,
.crossmark-tt,
.crossmark-tt-24,
.info-tt,
.info-tt-24,
.smart-widget-checker,
.smart-widget-checker-24,
.layers,
.layers-24,
.switch-arrows,
.switch-arrows-24,
.copy-24,
.copy,
.smart-widget-draft,
.smart-widget-draft-24,
.bunny-icon {
    /* margin: .5rem; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: .2s ease-in-out;
    /* filter: brightness(0) invert(); */
}

.ai-loader {
    min-width: 72px;
    min-height: 72px;
    max-width: 72px;
    max-height: 72px;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
    filter: invert();
}

@media (prefers-color-scheme: dark) {

    audio {
        overflow: hidden;
    }

    audio::-webkit-media-controls-panel {
        background-color: #9d9d9d;
    }

    audio::-webkit-media-controls-play-button {
        background-color: #8f8f8f;
        border-radius: 50%;
    }

    audio::-webkit-media-controls-play-button:hover {
        background-color: #878787
    }

    .arrow,
    .bold,
    .bounties,
    .code,
    .curation,
    .edit,
    .facebook-logo,
    .filter,
    .home,
    .image,
    .instagram-logo,
    .italic,
    .link,
    .metamask-logo,
    .podcast,
    .posts,
    .quote,
    .search,
    .setting,
    .stories,
    .title,
    .trash,
    .twitter-logo,
    .video,
    .env,
    /* .warning, */
    .info-flag,
    .success,
    .weechat-logo,
    .arrow-24,
    .bold-24,
    .bounties-24,
    .code-24,
    .curation-24,
    .edit-24,
    .facebook-logo-24,
    .filter-24,
    .home-24,
    .image-24,
    .instagram-logo-24,
    .italic-24,
    .plain,
    .plain-24,
    .link-24,
    .metamask-logo-24,
    .podcast-24,
    .posts-24,
    .quote-24,
    .search-24,
    .setting-24,
    .stories-24,
    .title-24,
    .trash-24,
    .twitter-logo-24,
    .video-24,
    .admin,
    .admin-24,
    .views,
    .views-24,
    .polls,
    .polls-24,
    .categories,
    .categories-24,
    .comment-icon,
    .comment-24,
    .like,
    .like-24,
    .like-bold,
    .like-bold-24,
    .send,
    .send-24,
    .cancel,
    .cancel-24,
    .env-24,
    .logout,
    .logout-24,
    .weechat-logo-24,
    /* .warning-24, */
    .info-flag-24,
    .flag,
    .flag-24,
    .success-24,
    .golden-medal,
    .silver-medal,
    .bronze-medal,
    .copy-24,
    .copy,
    .switch-arrows,
    .switch-arrows-24,
    .user,
    .user-24,
    .server-24,
    .server,
    .key-icon-24,
    .key-icon,
    .menu-24,
    .menu,
    .lightning,
    .lightning-24,
    .arrow-up,
    .arrow-up-bold,
    .bolt-24,
    .bolt,
    .flag,
    .upload-file,
    .upload-file-24,
    .bookmark,
    .bookmark-24,
    .bookmark-b,
    .bookmark-24-b,
    .bookmark-i,
    .bookmark-i-24,
    .bookmark-i-b,
    .bookmark-i-24-b,
    .report,
    .report-24,
    .fb-icon,
    .fb-icon-24,
    .whatsapp-icon,
    .whatsapp-icon-24,
    .in-icon,
    .in-icon-24,
    .share-icon,
    .share-icon-24,
    .share-icon-2,
    .share-icon-2-24,
    .add-curation,
    .add-curation-24,
    .nip05,
    .nip05-24,
    .content-s,
    .content-s-24,
    .news,
    .news-24,
    .mobile,
    .mobile-24,
    .play-b,
    .play-b-24,
    .globe,
    .globe-24,
    .calendar,
    .calendar-24,
    .note,
    .note-24,
    .cup,
    .cup-24,
    .thumbsup,
    .thumbsup-24,
    .thumbsdown,
    .thumbsdown-24,
    .msg-bubbles,
    .msg-bubbles-24,
    .medal,
    .medal-24,
    .add-note,
    .add-note-24,
    .msg-icon,
    .msg-icon-24,
    .nostr-icon,
    .nostr-icon-24,
    .ringbell,
    .ringbell-24,
    .unprotected,
    .unprotected-24,
    .buzz,
    .buzz-24,
    .folder,
    .folder-24,
    .write,
    .write-24,
    .play,
    .play-24,
    .download-file,
    .download-file-24,
    .infinity,
    .infinity-24,
    .env-edit-24,
    .env-edit,
    .quote,
    .quote-24,
    .heart,
    .heart-24,
    .note-2,
    .note-2-24,
    .hashtag,
    .hashtag-24,
    .media,
    .media-24,
    .plus-sign,
    .plus-sign-24,
    .note-plus,
    .note-plus-24,
    .play-plus,
    .play-plus-24,
    .curation-plus,
    .curation-plus-24,
    .news-plus,
    .news-plus-24,
    .posts-plus,
    .posts-plus-24,
    .sats,
    .sats-24,
    .eye-opened,
    .eye-opened-24,
    .eye-closed,
    .eye-closed-24,
    .buzz-bold,
    .buzz-bold-24,
    .curation-bold,
    .curation-bold-24,
    .env-bold,
    .env-bold-24,
    .folder-bold,
    .folder-bold-24,
    .home-bold,
    .home-bold-24,
    .media-bold,
    .media-bold-24,
    .news-bold,
    .news-bold-24,
    .note-2-bold,
    .note-2-bold-24,
    .note-bold,
    .note-bold-24,
    .play-bold,
    .play-bold-24,
    .posts-bold,
    .posts-bold-24,
    .bookmark-i-bold,
    .bookmark-i-bold-24,
    .comment-not,
    .comment-not-24,
    .user-followed,
    .user-followed-24,
    .share-v2,
    .share-v2-24,
    .user-to-follow,
    .user-to-follow-24,
    .user-to-unfollow,
    .user-to-unfollow-24,
    .logout,
    .logout-24, .trending-up,
    .trending-up-24,
    .timeline,
    .timeline-24,
    .followings,
    .followings-24,
    .wallet,
    .wallet-24,
    .qrcode,
    .qrcode-24,
    .wallet-add,
    .wallet-add-24,
    .smart-widget-add,
    .smart-widget-add-24,
    .text,
    .text-24,
    .button,
    .button-24,
    .container-one,
    .container-one-24,
    .container-one-one,
    .container-one-one-24,
    .container-one-two,
    .container-one-two-24,
    .container-two-one,
    .container-two-one-24,
    .frames,
    .frames-24,
    .smart-widget,
    .smart-widget-24,
    .smart-widget-bold,
    .smart-widget-bold-24,
    .layout,
    .layout-24,
    .clone,
    .clone-24,
    .smart-widget-checker,
    .smart-widget-checker-24,
    .layers,
    .layers-24,
    .smart-widget-draft,
    .smart-widget-draft-24 {
        /* margin: .5rem; */
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        transition: .2s ease-in-out;
        filter: brightness(0) invert();
    }

    .ai-loader {
        filter: none;
        background-blend-mode: screen;
        background-color: var(--white);

    }

    .telegram-logo,
    .telegram-logo-24 {
        /* margin: .5rem; */
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        transition: .2s ease-in-out;
        filter: invert();
    }
}

.arrow,
.bold,
.bounties,
.code,
.curation,
.discord-logo,
.edit,
.facebook-logo,
.filter,
.home,
.image,
.instagram-logo,
.italic,
.plain,
.link,
.metamask-logo,
.podcast,
.posts,
.quote,
.search,
.setting,
.stories,
.title,
.trash,
.twitter-logo,
.video,
.admin,
.views,
.polls,
.categories,
.comment-icon,
.like,
.like-bold,
.send,
.cancel,
.env,
.weechat-logo,
.warning,
.info-flag,
.success,
.logout,
.switch-arrows,
.user, .server,
.key-icon,
.menu,
.bolt,
.checkmark,
.flag,
.flag-24,
.upload-file,
.bookmark,
.bookmark-b,
.bookmark-i,
.bookmark-i-b,
.report,
.fb-icon,
.whatsapp-icon,
.in-icon,
.share-icon,
.share-icon-2,
.add-curation,
.nip05,
.content-s,
.news,
.mobile,
.play-b,
.globe,
.calendar,
.note,
.cup,
.thumbsup,
.thumbsdown,
.msg-bubbles,
.medal,
.add-note,
.checkmark-c1,
.telegram-logo,
.msg-icon,
.nostr-icon,
.ringbell,
.protected,
.unprotected,
.buzz,
.folder,
.write,
.play,
.play-vid,
.download-file,
.connect,
.infinity,
.env-edit,
.quote,
.heart,
.heart-bold,
.switch-arrows-bold,
.quote-bold,
.note-2,
.hashtag,
.media,
.plus-sign,
.note-plus,
.play-plus,
.curation-plus,
.news-plus,
.posts-plus,
.sats,
.eye-opened,
.eye-closed,
.buzz-bold,
.curation-bold,
.env-bold,
.folder-bold,
.home-bold,
.media-bold,
.news-bold,
.note-2-bold,
.note-bold,
.play-bold,
.posts-bold,
.bookmark-i-bold,
.alby-logo,
.nwc-logo,
.comment-not,
.user-followed,
.share-v2,
.user-to-follow,
.user-to-unfollow,
.user-followed-w,
.plus-sign-w,
.trending-up,
.lightning,
.timeline,
.followings,
.wallet,
.webln-logo,
.mute,
.unmute,
.qrcode,
.wallet-add,
.smart-widget-add,
.text,
.button,
.container-one,
.container-one-one,
.container-one-two,
.container-two-one,
.youtube-logo,
.discord-logo,
.telegram-b-logo,
.twitter-w-logo,
.frames,
.smart-widget,
.smart-widget-bold,
.copy,
.layout,
.clone,
.checkmark-tt,
.crossmark-tt,
.info-tt,
.smart-widget-checker,
.layers,
.smart-widget-draft {
    min-width: 16px;
    min-height: 16px;
}

.arrow-24,
.bold-24,
.bounties-24,
.code-24,
.curation-24,
.discord-logo-24,
.edit-24,
.facebook-logo-24,
.filter-24,
.home-24,
.image-24,
.instagram-logo-24,
.italic-24,
.plain-24,
.link-24,
.metamask-logo-24,
.podcast-24,
.posts-24,
.quote-24,
.search-24,
.setting-24,
.stories-24,
.title-24,
.trash-24,
.twitter-logo-24,
.video-24,
.admin-24,
.views-24,
.polls-24,
.categories-24,
.comment-24,
.like-24,
.like-bold-24,
.cancel-24,
.send-24,
.env-24,
.weechat-logo-24,
.warning-24,
.info-flag,
.success-24,
.golden-medal,
.silver-medal,
.bronze-medal,
.logout-24,
.copy-24,
.switch-arrows-24,
.user-24,
.server-24,
.key-icon-24,
.menu-24,
.lightning-24,
.arrow-up,
.arrow-up-bold,
.bolt-24,
.checkmark-24,
.upload-file-24,
.bookmark-24,
.bookmark-24-b,
.bookmark-i-24,
.bookmark-i-24-b,
.report-24,
.flag-24,
.fb-icon-24,
.whatsapp-icon-24,
.in-icon-24,
.share-icon-24,
.share-icon-2-24,
.add-curation-24,
.nip05-24,
.content-s-24,
.news-24,
.mobile-24,
.play-b-24,
.globe-24,
.calendar-24,
.note-24,
.cup-24,
.thumbsup-24,
.thumbsdown-24,
.msg-bubbles-24,
.medal-24,
.add-note-24,
.checkmark-c1-24,
.telegram-logo-24,
.msg-icon-24,
.nostr-icon-24,
.ringbell-24,
.protected-24,
.unprotected-24,
.buzz-24,
.folder-24,
.write-24,
.play-24,
.download-file-24,
.connect-24,
.infinity-24,
.connect-24,
.env-edit-24,
.quote-24,
.heart-24,
.heart-bold-24,
.switch-arrows-bold-24,
.quote-bold-24,
.note-2-24,
.hashtag-24,
.media-24,
.plus-sign-24,
.note-plus-24,
.play-plus-24,
.curation-plus-24,
.news-plus-24,
.posts-plus-24,
.sats-24,
.eye-opened-24,
.eye-closed-24,
.buzz-bold-24,
.curation-bold-24,
.env-bold-24,
.folder-bold-24,
.home-bold-24,
.media-bold-24,
.news-bold-24,
.note-2-bold-24,
.note-bold-24,
.play-bold-24,
.posts-bold-24,
.bookmark-i-bold-24,
.alby-logo-24,
.nwc-logo-24,
.comment-not-24,
.user-followed-24,
.share-v2-24,
.user-to-follow-24,
.user-to-unfollow-24,
.user-followed-w-24,
.plus-sign-w-24,
.trending-up-24,
.timeline-24,
.followings-24,
.wallet-24,
.webln-logo-24,
.mute-24,
.unmute-24,
.qrcode-24,
.wallet-add-24,
.text-24,
.button-24,
.container-one-24,
.container-one-one-24,
.container-one-two-24,
.container-two-one-24,
.youtube-logo-24,
.discord-logo-24,
.telegram-b-logo-24,
.twitter-w-logo-24,
.frames-24,
.smart-widget-24,
.smart-widget-bold-24,
.layout-24,
.clone-24,
.checkmark-tt-24,
.crossmark-tt-24,
.info-tt-24,
.smart-widget-checker-24,
.layers-24,
.smart-widget-draft-24 {
    min-width: 20px;
    min-height: 20px;
}

.play-vid-58 {
    min-width: 48px;
    min-height: 48px;
}

.bunny-icon {
    min-width: 8rem;
    min-height: 8rem;
}

.bunny-icon {
    background-image: url('../media/icons/bunny-icon.svg');
}

.smart-widget-draft,
.smart-widget-draft-24 {
    background-image: url('../media/icons/sw-draft.svg');
}

.layers,
.layers-24 {
    background-image: url('../media/icons/layers.svg');
}

.smart-widget-checker,
.smart-widget-checker-24 {
    background-image: url('../media/icons/smart-widget-checker.svg');
}

.checkmark-tt,
.checkmark-tt-24 {
    background-image: url('../media/icons/checkmark-tt.svg');
}

.crossmark-tt,
.crossmark-tt-24 {
    background-image: url('../media/icons/crossmark-tt.svg');
}

.info-tt,
.info-tt-24 {
    background-image: url('../media/icons/info-tt.svg');
}

.clone,
.clone-24 {
    background-image: url('../media/icons/clone.svg');
}

.layout,
.layout-24 {
    background-image: url('../media/icons/layout.svg');
}

.frames,
.frames-24 {
    background-image: url('../media/icons/frames.svg');
}

.smart-widget,
.smart-widget-24 {
    background-image: url('../media/icons/smart-widget.svg');
}

.smart-widget-bold,
.smart-widget-bold-24 {
    background-image: url('../media/icons/smart-widget-bold.svg');
}

.telegram-b-logo,
.telegram-b-logo-24 {
    background-image: url('../media/icons/telegram.svg');
}

.youtube-logo,
.youtube-logo-24 {
    background-image: url('../media/icons/youtube.svg');

}

.container-one,
.container-one-24 {
    background-image: url('../media/icons/container-one.svg');
}

.container-one-one,
.container-one-one-24 {
    background-image: url('../media/icons/container-one-one.svg');
}

.container-one-two,
.container-one-two-24 {
    background-image: url('../media/icons/container-one-two.svg');
}

.container-two-one,
.container-two-one-24 {
    background-image: url('../media/icons/container-two-one.svg');
}

.button,
.button-24 {
    background-image: url('../media/icons/button.svg');
}

.text,
.text-24 {
    background-image: url('../media/icons/text.svg');
}

.smart-widget-add,
.smart-widget-add-24 {
    background-image: url('../media/icons/smart-widget-add.svg');
}

.wallet-add,
.wallet-add-24 {
    background-image: url('../media/icons/wallet-add.svg');
}

.qrcode,
.qrcode-24 {
    background-image: url('../media/icons/qrcode.svg');
}

.unmute,
.unmute-24 {
    background-image: url('../media/icons/unmute.svg');
}

.mute,
.mute-24 {
    background-image: url('../media/icons/mute.svg');
}

.webln-logo,
.webln-logo-24 {
    background-image: url('../media/icons/webln-logo.svg');
}

.wallet,
.wallet-24 {
    background-image: url('../media/icons/wallet.svg');
}

.followings,
.followings-24 {
    background-image: url('../media/icons/followings.svg');
}

.timeline,
.timeline-24 {
    background-image: url('../media/icons/timeline.svg');
}

.trending-up,
.trending-up-24 {
    background-image: url('../media/icons/trending-up.svg');
}

.share-v2,
.share-v2-24 {
    background-image: url('../media/icons/share-v2.svg');
}

.comment-not,
.comment-not-24 {
    background-image: url('../media/icons/comment-not.svg');
}

.user-to-follow,
.user-to-follow-24 {
    background-image: url('../media/icons/user-to-follow.svg');
}

.user-to-unfollow,
.user-to-unfollow-24 {
    background-image: url('../media/icons/user-to-unfollow.svg');
}

.user-followed,
.user-followed-24,
.user-followed-w,
.user-followed-w-24 {
    background-image: url('../media/icons/user-followed.svg');
}

.user-followed-w,
.user-followed-w-24, .twitter-w-logo, .twitter-w-logo-24 {
    filter: invert();
}

.nwc-logo,
.nwc-logo-24 {
    background-image: url('../media/icons/nwc-logo.svg');
}

.alby-logo,
.alby-logo-24 {
    background-image: url('../media/icons/alby-logo.svg');
}

.bookmark-i-bold,
.bookmark-i-bold-24 {
    background-image: url('../media/icons/bookmark-i-bold.svg');
}

.buzz-bold,
.buzz-bold-24 {
    background-image: url('../media/icons/buzz-bold.svg');
}

.curation-bold,
.curation-bold-24 {
    background-image: url('../media/icons/curation-bold.svg');
}

.env-bold,
.env-bold-24 {
    background-image: url('../media/icons/env-bold.svg');
}

.folder-bold,
.folder-bold-24 {
    background-image: url('../media/icons/folder-bold.svg');
}

.home-bold,
.home-bold-24 {
    background-image: url('../media/icons/home-bold.svg');
}

.media-bold,
.media-bold-24 {
    background-image: url('../media/icons/media-bold.svg');
}

.news-bold,
.news-bold-24 {
    background-image: url('../media/icons/news-bold.svg');
}

.note-2-bold,
.note-2-bold-24 {
    background-image: url('../media/icons/note-2-bold.svg');
}

.note-bold,
.note-bold-24 {
    background-image: url('../media/icons/note-bold.svg');
}

.posts-bold,
.posts-bold-24 {
    background-image: url('../media/icons/posts-bold.svg');
}

.play-bold,
.play-bold-24 {
    background-image: url('../media/icons/play-bold.svg');
}

.eye-closed,
.eye-closed-24 {
    background-image: url('../media/icons/eye-closed.svg');
}

.eye-opened,
.eye-opened-24 {
    background-image: url('../media/icons/eye-opened.svg');
}

.sats,
.sats-24 {
    background-image: url('../media/icons/sats.svg');
}

.note-plus,
.note-plus-24 {
    background-image: url('../media/icons/note-plus.svg');
}

.play-plus,
.play-plus-24 {
    background-image: url('../media/icons/play-plus.svg');
}

.news-plus,
.news-plus-24 {
    background-image: url('../media/icons/news-plus.svg');
}

.curation-plus,
.curation-plus-24 {
    background-image: url('../media/icons/curation-plus.svg');
}

.posts-plus,
.posts-plus-24 {
    background-image: url('../media/icons/posts-plus.svg');
}

.plus-sign,
.plus-sign-24,
.plus-sign-w,
.plus-sign-w-24 {
    background-image: url('../media/icons/plus-sign.svg');
}

.plus-sign,
.plus-sign-w {
    min-width: 10px;
    min-height: 10px;
}

.plus-sign-w,
.plus-sign-w-24 {
    filter: invert();
}

.media,
.media-24 {
    background-image: url('../media/icons/media.svg');
}

.hashtag,
.hashtag-24 {
    background-image: url('../media/icons/hashtag.svg');
}

.note-2,
.note-2-24 {
    background-image: url('../media/icons/note-2.svg');
}

.quote-bold,
.quote-bold-24 {
    background-image: url('../media/icons/quote-bold.svg');
}

.switch-arrows-bold,
.switch-arrows-bold-24 {
    background-image: url('../media/icons/switch-arrows-bold.svg');
}

.heart,
.heart-24 {
    background-image: url('../media/icons/heart.svg');
}

.heart-bold,
.heart-bold-24 {
    background-image: url('../media/icons/heart-bold.svg');
}

.quote,
.quote-24 {
    background-image: url('../media/icons/quote.svg');
}

.infinity,
.infinity-24 {
    background-image: url('../media/icons/infinity.svg');
}

.ai-loader,
.ai-loader-24 {
    background-image: url('../media/icons/ai_loading.gif');
}

.connect,
.connect-24 {
    background-image: url('../media/icons/connect.svg');
    filter: invert();
}

.ai-loader,
.ai-loader-24 {
    background-image: url('../media/icons/ai_loading.gif');
}

.env-edit,
.env-edit-24 {
    background-image: url('../media/icons/env-edit.svg');
}

.download-file,
.download-file-24 {
    background-image: url('../media/icons/download-file.svg');
}

.play-vid,
.play-vid-58 {
    background-image: url('../media/icons/play-vid.svg');
}

.play,
.play-24 {
    background-image: url('../media/icons/play.svg');
}

.like-bold,
.like-bold-24 {
    background-image: url('../media/icons/like-bold.svg');
}

.write,
.write-24 {
    background-image: url('../media/icons/write.svg');
}

.folder,
.folder-24 {
    background-image: url('../media/icons/folder.svg');
}

.buzz,
.buzz-24 {
    background-image: url('../media/icons/buzz.svg');
}

.unprotected,
.unprotected-24 {
    background-image: url('../media/icons/unprotected.svg');
}

.protected,
.protected-24 {
    background-image: url('../media/icons/protected.svg');
}

.ringbell,
.ringbell-24 {
    background-image: url('../media/icons/ringbell.svg');
}

.msg-icon,
.msg-icon-24 {
    background-image: url('../media/icons/msg-icon.svg');
}

.nostr-icon,
.nostr-icon-24 {
    background-image: url('../media/icons/nostr-icon.svg');
}

.telegram-logo,
.telegram-logo-24 {
    background-image: url('../media/icons/telegram-logo.svg');
}

.add-note,
.add-note-24 {
    background-image: url('../media/icons/add-note.svg');
}

.medal,
.medal-24 {
    background-image: url('../media/icons/medal.svg');
}

.msg-bubbles,
.msg-bubbles-24 {
    background-image: url('../media/icons/msg-bubbles.svg');
}

.thumbsup,
.thumbsup-24 {
    background-image: url('../media/icons/thumbsup.svg');
}

.thumbsdown,
.thumbsdown-24 {
    background-image: url('../media/icons/thumbsdown.svg');
}

.cup,
.cup-24 {
    background-image: url('../media/icons/cup.svg');
}

.note,
.note-24 {
    background-image: url('../media/icons/note.svg');
}

.calendar,
.calendar-24 {
    background-image: url('../media/icons/calendar.svg');
}

.globe,
.globe-24 {
    background-image: url('../media/icons/globe.svg');
}

.play-b,
.play-b-24 {
    background-image: url('../media/icons/play-b.svg');
}

.mobile,
.mobile-24 {
    background-image: url('../media/icons/mobile.svg');
}

.news,
.news-24 {
    background-image: url('../media/icons/news.svg');
}

.content-s,
.content-s-24 {
    background-image: url('../media/icons/content-s.svg');
}

.nip05,
.nip05-24 {
    background-image: url('../media/icons/nip05.svg');
}

.add-curation,
.add-curation-24 {
    background-image: url('../media/icons/add-curation.svg');
}

.share-icon,
.share-icon-24 {
    background-image: url('../media/icons/share.svg');
}

.share-icon-2,
.share-icon-2-24 {
    background-image: url('../media/icons/share-icon-2.svg');
}

.in-icon,
.in-icon-24 {
    background-image: url('../media/icons/in-icon.svg');
}

.whatsapp-icon,
.whatsapp-icon-24 {
    background-image: url('../media/icons/whatsapp-icon.svg');
}

.fb-icon,
.fb-icon-24 {
    background-image: url('../media/icons/fb-icon.svg');
}

.report,
.report-24 {
    background-image: url('../media/icons/report.svg');
}

.bookmark-b,
.bookmark-24-b {
    background-image: url('../media/icons/bookmark-checked-2.svg');
}

.bookmark,
.bookmark-24 {
    background-image: url('../media/icons/bookmark-add.svg');
}

.bookmark-i-b,
.bookmark-i-24-b {
    background-image: url('../media/icons/save-bookmark-b.svg');
}

.bookmark-i,
.bookmark-i-24 {
    background-image: url('../media/icons/save-bookmark.svg');
}

.upload-file, .upload-file-24 {
    background-image: url('../media/icons/upload-file.svg');
}

.flag, .flag-24 {
    cursor: pointer;
    background-image: url('../media/icons/flag.svg');
}

.checkmark, .checkmark-24 {
    background-image: url('../media/icons/checkmark.svg');
}

.checkmark-c1, .checkmark-c1-24 {
    background-image: url('../media/icons/checkmark-c1.svg');
}

.bolt, .bolt-24 {
    background-image: url('../media/icons/bolt.svg');
}

/* .bolt:hover, .bolt-24:hover {
    background-image: url('../media/icons/bolt-bold-c1.svg');
} */

.arrow-up {
    background-image: url('../media/icons/arrow-up.svg');
}

.arrow-up:hover {
    background-image: url('../media/icons/arrow-up-bold.svg');
}

.arrow-up-bold {
    background-image: url('../media/icons/arrow-up-bold.svg');
}

.lightning, .lightning-24 {
    background-image: url('../media/icons/lightning.svg');
}


.menu, .menu-24 {
    background-image: url('../media/icons/menu.svg');
}

.user, .user-24 {
    background-image: url('../media/icons/user.svg');
}

.server, .server-24 {
    background-image: url('../media/icons/relay.svg');
}

.key-icon, .key-icon-24 {
    background-image: url('../media/icons/keys.svg');
}

.copy, .copy-24 {
    background-image: url('../media/icons/copy.svg');
}

.bronze-medal {
    background-image: url('../media/icons/bronze-medal.svg');
}

.silver-medal {
    background-image: url('../media/icons/silver-medal.svg');
}

.golden-medal {
    background-image: url('../media/icons/golden-medal.svg');
}

.info-flag, .info-flag-24 {
    background-image: url('../media/icons/info-flag.svg');
}

.warning, .warning-24 {
    background-image: url('../media/icons/warning.svg');
}

.success, .success-24 {
    background-image: url('../media/icons/success.svg');
}

.weechat-logo, .weechat-logo-24 {
    background-image: url('../media/icons/weechat-logo.png');
}

.logout, .logout-24 {
    background-image: url('../media/icons/logout.svg');
}

.switch-arrows, .switch-arrows-24 {
    background-image: url('../media/icons/switch-arrows.svg');
}

.env, .env-24 {
    background-image: url('../media/icons/env.svg');
}

.cancel, .cancel-24 {
    background-image: url('../media/icons/cancel.svg');
}

.comment-icon, .comment-24 {
    background-image: url('../media/icons/comment.svg');
}

.send, .send-24 {
    background-image: url('../media/icons/send.svg');
}

.like, .like-24 {
    background-image: url('../media/icons/like.svg');
}

.categories, .categories-24 {
    background-image: url('../media/icons/categories.svg');
}

.polls, .polls-24 {
    background-image: url('../media/icons/polls.svg');
}

.views, .views-24 {
    background-image: url('../media/icons/views.svg');
}

.admin, .admin-24 {
    background-image: url('../media/icons/admin.svg');
}

.arrow, .arrow-24 {
    background-image: url('../media/icons/arrow.svg');
}

.bold, .bold-24 {
    background-image: url('../media/icons/bold.svg');
}

.bounties, .bounties-24 {
    background-image: url('../media/icons/bounties.svg');
}

.code, .code-24 {
    background-image: url('../media/icons/code.svg');
}

.curation, .curation-24 {
    background-image: url('../media/icons/curation.svg');
}

.discord-logo, .discord-logo-24 {
    background-image: url('../media/icons/discord-logo.svg');
    filter: invert();
}

.edit, .edit-24 {
    background-image: url('../media/icons/edit.svg');
}

.facebook-logo, .facebook-logo-24 {
    background-image: url('../media/icons/facebook-logo.svg');
}

.filter, .filter-24 {
    background-image: url('../media/icons/filter.svg');
}

.home, .home-24 {
    background-image: url('../media/icons/home.svg');
}

.image, .image-24 {
    background-image: url('../media/icons/image.svg');
}

.instagram-logo, .instagram-logo-24 {
    background-image: url('../media/icons/instagram-logo.svg');
}

.italic, .italic-24 {
    background-image: url('../media/icons/italic.svg');
}

.plain, .plain-24 {
    background-image: url('../media/icons/plain.svg');
}

.link, .link-24 {
    background-image: url('../media/icons/link.svg');
}

.metamask-logo, .metamask-logo-24 {
    background-image: url('../media/icons/metamask-logo.svg');
}

.podcast, .podcast-24 {
    background-image: url('../media/icons/podcast.svg');
}

.posts, .posts-24 {
    background-image: url('../media/icons/posts.svg');
}

.quote, .quote-24 {
    background-image: url('../media/icons/quote.svg');
}

.search, .search-24 {
    background-image: url('../media/icons/search.svg');
}

.setting, .setting-24 {
    background-image: url('../media/icons/setting.svg');
}

.stories, .stories-24 {
    background-image: url('../media/icons/stories.svg');
}

.title, .title-24 {
    background-image: url('../media/icons/title.svg');
}

.trash, .trash-24 {
    background-image: url('../media/icons/trash.svg');
}

.twitter-logo, .twitter-logo-24, .twitter-w-logo, .twitter-w-logo-24 {
    background-image: url('../media/icons/twitter-logo.svg');
}

.video, .video-24 {
    background-image: url('../media/icons/video.svg');
}

.article .arrow,
.article .bold,
.article .bounties,
.article .code,
.article .curation,
.article .discord-logo,
.article .edit,
.article .facebook-logo,
.article .filter,
.article .home,
.article .image,
.article .instagram-logo,
.article .italic,
.article .link,
.article .metamask-logo,
.article .podcast,
.article .posts,
.article .quote,
.article .search,
.article .setting,
.article .stories,
.article .title,
.article .trash,
.article .twitter-logo,
.article .video,
.article .env,
.article .warning,
.article .success,
.article .weechat-logo,
.article .arrow-24,
.article .bold-24,
.article .bounties-24,
.article .code-24,
.article .curation-24,
.article .discord-logo-24,
.article .edit-24,
.article .facebook-logo-24,
.article .filter-24,
.article .home-24,
.article .image-24,
.article .instagram-logo-24,
.article .italic-24,
.article .plain,
.article .plain-24,
.article .link-24,
.article .metamask-logo-24,
.article .podcast-24,
.article .posts-24,
.article .quote-24,
.article .search-24,
.article .setting-24,
.article .stories-24,
.article .title-24,
.article .trash-24,
.article .twitter-logo-24,
.article .video-24,
.article .admin,
.article .admin-24,
.article .views,
.article .views-24,
.article .polls,
.article .polls-24,
.article .categories,
.article .categories-24,
.article .comment,
.article .comment-24,
.article .like,
.article .like-24,
.article .send,
.article .send-24,
.article .cancel,
.article .cancel-24,
.article .env-24,
.article .logout,
.article .logout-24,
.article .weechat-logo-24,
.article .warning-24,
.article .success-24,
.article .golden-medal,
.article .silver-medal,
.article .bronze-medal,
.article .copy-24,
.article .switch-arrows,
.article .switch-arrows-24,
.article .user,
.article .user-24 {
    background-image: none;
}