:root{
    --white: #ffffff;
    --black: #000000;
    --black-transparent: #0000009e;
    --gray: #909090;
    --pale-gray:#E5E5E5;
    --dim-gray: #F2F2F2;
    --very-dim-gray: #FAFAFA;
    --c1: #86318C;
    --c1-transparent: #86318c08;
    --c1-side: #3F0043;
    --c1-pale: #28002B;
    --c2: #1F0021;
    --c3: #220038;
    --c3-transparent: #2200385A;
    --c3-transparent-darker: #220038ea;
    --red-main: #FF4A4A;
    --red-side:#fff6f6;
    --green-main: #00C04D;
    --green-side: #F2FDF6;
    --blue-main: #504DFF;
    --blue-side: #F6F6FF;
    --orange-main: #FF9C08;
    --orange-side: #FFFAF3;
    --yellow: #FFED4B;
    --90: 90px;
    --64: 64px;
    --54: 54px;
    --48: 3rem;
    --40: 2.5rem;
    --32: 2rem;
    --24: 1.5rem;
    --20: 1.25rem;
    --16: 1rem;
    --12: .75rem;
    --10: .65rem;
    /* --320: 320px;
    --border-r-6: 6px;
    --border-r-18: 18px;
    --border-r-32: 32px;
    --border-r-50: 50%; */
    /* --90: 90px;
    --64: 64px;
    --54: 54px;
    --48: 48px;
    --40: 40px;
    --32: 32px;
    --24: 24px;
    --20: 20px;
    --16: 16px;
    --12: 12px;
    --10: 10px; */
    --border-r-6: 6px;
    --border-r-18: 18px;
    --border-r-32: 32px;
    --border-r-50: 50%;
}